* {
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
#container {
  display: flex;
  border: 1px solid black;
  flex-direction: row;
  width: 80%;
  max-width: 1400px;
  height: 600px;
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  gap: 20px;
}
.aba {
  border-right: 1px solid black;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 10px;
  gap: 15px;
}
.visual {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
button {
  width: 100px;
}

/* cadastro */

/* consulta */

header {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

/* Codigo penal */

.lista-artigos {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  max-width: 700px;
  height: 400px;
  overflow-y: auto;
}

.hidden {
  display: none;
}

